.doctor-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: "Inter", sans-serif;
}
.doctor-container h3{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 600;
    padding: 1rem 0;
    font-family: "Bree Serif", serif;
}
.doctor-container h5{
    text-transform: uppercase;
}
.doctor-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctors-list-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}