@use '../SCSS/_style';
a{
    text-decoration: none;
    box-shadow: whitesmoke;
}
.blogs-and-news{
    font-family: style.$font-second-family;
    font-family: style.$font-base-family;
    h5{
        font-size: style.$h6;
    }
    h2{
        font-size: style.$h2;
        font-weight: 600;
    }
    .blog-news-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        .blog-news-healine{
            h5{
                
            }
        }
    }
        .common-blog{
            margin-top: 2.5rem;

            .blog-news{
                margin-right: .6rem;
                margin-bottom: 2rem;
                position: relative;
                .blog-img-batch{
                    position: absolute;
                    bottom: -1rem;
                    left: 4.5rem;
                    display: block;
                    width: 110px;
                    padding: .5rem 0;
                    border-radius: .6rem;
                    background: #9696f7;
                    p{
                        text-align: center;
                    }
                }
            }
            .blog-details{
               h3{
                margin: .5rem 0;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: #222
               }
               .read-more{
                margin: .5rem 0;
                &:hover{
                    cursor: pointer;
                }
               }
            }        
        }
   
        
}