$mdSmall: 640px;
$mdMedium: 767px;
$smSmall: 320px;
$smMedium: 640px;
.hero-container{
    .outer_circle{
        position: relative;
        width: 460px;
        height: 460px;
        border-radius: 50%; 
        display: inline-block;
        background: rgb(100,45,255);
        background: linear-gradient(180deg, rgba(100,45,255,0.9140698515734419) 29%, rgba(255,255,255,1) 69%);

        button{
            position: absolute;
            bottom: 9rem;
            left: -7rem;
            border: none;
            box-shadow: 0px 4px 8px rgba(45, 12, 87, 0.38);
            padding: 15px 30px;
            background: #642DFF;
            color: #fff;
            
            svg{
                margin-right: .4rem;
            }
        }
    }
    .inner_circle {
        position: absolute;
        top: 1.5rem;
        left: 1.3rem;
        width: 420px;
        height: 420px;
        background: #ffff;
        border-radius: 50%;

        .inner-img{
            position: absolute;
            bottom: 3rem;
            left: -1rem;
            width: 100%;
            height: 100%;
        }
    }
    
}

@media (min-width: $smSmall) and (max-width:$smMedium){
    .hero-container{
        h1{
            font-size: 2.5rem;
        }
        .outer_circle{
            text-align: center;
            margin-top: 4rem;
            width: 340px;
            height: 340px; 
    
            button{
                bottom: 9rem;
                left: -5rem;
                padding: 12px 24px;
            }
        }
        .inner_circle {
            top: 1.3rem;
            left: 1.4rem;
            width: 300px;
            height: 300px;
    
            .inner-img{

                bottom: 3rem;
                left: -1rem;
            }
        }
        
    }
}


@media (min-width: $mdSmall) and (max-width:$mdMedium){
    .hero-container{

        .outer_circle{
            text-align: center;
            margin: 4rem 0 auto;
            width: 380px;
            height: 380px; 
    
            button{
                position: absolute;
                bottom: 9rem;
                left: -5rem;
                padding: 12px 24px;
            }
        }
        .inner_circle {
            top: 1.3rem;
            left: 1.4rem;
            width: 340px;
            height: 340px;
    
            .inner-img{
                bottom: 3rem;
                left: -1rem;
            }
        }
        
    }
}

@media screen and (min-width: 962px) and (max-width: 1024px) {
    .hero-container{

        .outer_circle{
            width: 420px;
            height: 420px; 
    
            button{
                position: absolute;
                bottom: 9rem;
                left: -4rem;
                border: none;
                box-shadow: 0px 4px 8px rgba(45, 12, 87, 0.38);
                padding: 10px 20px;
                background: #2D89FF;
                color: #fff;
            }
        }
        .inner_circle {
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 360px;
            height: 360px;
            background: #ffff;
            border-radius: 50%;
    
            .inner-img{
                position: absolute;
                bottom: 3rem;
                left: -1rem;
                width: 100%;
                height: 100%;
            }
        }
        
    }
}