$mdSmall: 640px;
$mdMedium: 767px;
$smSmall: 320px;
$smMedium: 640px;
.hero-container{
    .outer_circle{
        position: relative;
        width: 440px;
        height: 440px;
        border-radius: 50%; 
        display: inline-block;
        background: rgb(100,45,255);
        background: linear-gradient(180deg, rgba(100,45,255,0.9140698515734419) 29%, rgba(255,255,255,1) 69%);

        button{
            position: absolute;
            bottom: 9rem;
            left: -7rem;
            border: none;
            box-shadow: 0px 4px 8px rgba(45, 12, 87, 0.38);
            padding: 15px 30px;
            background: #642DFF;
            color: #fff;
            
            svg{
                margin-right: .4rem;
            }
        }
    }
    .inner_circle {
        position: absolute;
        top: 2rem;
        left: 2.3rem;
        width: 370px;
        height: 370px;
        background: #ffff;
        border-radius: 50%;

        .inner-img{
            position: absolute;
            bottom: 4rem;
            left: -1rem;
            width: 100%;
            height: 100%;
        }
    }
    .banner-left{
        position: relative;
        .doctors-card{
            position: absolute;
            bottom: 4.3rem;
            right: 0rem;
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding: .5rem 1rem;
            width: 220px;
            h5{
                text-align: left;
                padding: .5rem 0;
            }
            .doc-info{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0px -4px;            
                img{
                    width: 100%;
                    border-radius: 50%;
                }
                span{
                    background: #2D89FF;
                    padding: .4rem .7rem;
                    border-radius: 50%;
                    color: #fff;
                    margin-left: .6rem;
                }
            }
            .doc-card-line{
                margin: .5rem 0;
                .doc-card-line_one{
                    width: 189px;
                    height: 14px;
                    background: linear-gradient(90deg, rgba(45, 137, 255, 0.57) 0%, rgba(45, 137, 255, 0) 100%);
                    border-radius: 50px;
                    margin: .5rem 0;
                }
                .doc-card-line_two{
                    width: 189px;
                    height: 14px;
                    background: linear-gradient(90deg, rgba(45, 137, 255, 0.3) 0%, rgba(45, 137, 255, 0) 100%);
                    border-radius: 50px;
                }
            }
        }
    }
    .countup{
        margin: 1.4rem 0;
        text-align: left;
        h4{
            text-align: left;
            font-size: 24px;
            line-height: 29px;
            font-weight: 600;
        }
         h6{
            font-size: 16px;
        }
    }    
}

@media (min-width: $smSmall) and (max-width:$smMedium){
    .hero-container{
        h1{
            font-size: 2.5rem;
        }
        .outer_circle{
            text-align: center;
            margin-top: 4rem;
            width: 340px;
            height: 340px; 
    
            button{
                bottom: 9rem;
                left: -5rem;
                padding: 12px 24px;
            }
        }
        .inner_circle {
            top: 1.3rem;
            left: 1.4rem;
            width: 300px;
            height: 300px;
    
            .inner-img{

                bottom: 3rem;
                left: -1rem;
            }
        }
        
    }
}


@media (min-width: $mdSmall) and (max-width:$mdMedium){
    .hero-container{

        .outer_circle{
            text-align: center;
            margin: 4rem 0 auto;
            width: 380px;
            height: 380px; 
    
            button{
                position: absolute;
                bottom: 9rem;
                left: -5rem;
                padding: 12px 24px;
            }
        }
        .inner_circle {
            top: 1.3rem;
            left: 1.4rem;
            width: 340px;
            height: 340px;
    
            .inner-img{
                bottom: 3rem;
                left: -1rem;
            }
        }
        
    }
}

@media screen and (min-width: 962px) and (max-width: 1024px) {
    .hero-container{

        .outer_circle{
            width: 420px;
            height: 420px; 
    
            button{
                position: absolute;
                bottom: 9rem;
                left: -4rem;
                border: none;
                box-shadow: 0px 4px 8px rgba(45, 12, 87, 0.38);
                padding: 10px 20px;
                background: #2D89FF;
                color: #fff;
            }
        }
        .inner_circle {
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 360px;
            height: 360px;
            background: #ffff;
            border-radius: 50%;
    
            .inner-img{
                position: absolute;
                bottom: 3rem;
                left: -1rem;
                width: 100%;
                height: 100%;
            }
        }
        
    }
}