.hero-container h1 {
  font-family: "Inter", sans-serif;
}
.hero-container .banner-subHeader {
  font-family: "Bree Serif", serif;
}
.hero-container .banner-subHeader button {
  background-color: #2D89FF;
  border: none;
  color: #fff;
}
.hero-container .outer_circle {
  position: relative;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  display: inline-block;
  background: rgb(100, 45, 255);
  background: linear-gradient(180deg, rgba(100, 45, 255, 0.9140698516) 29%, rgb(255, 255, 255) 69%);
}
.hero-container .outer_circle button {
  position: absolute;
  bottom: 9rem;
  left: -7rem;
  border: none;
  box-shadow: 0px 4px 8px rgba(45, 12, 87, 0.38);
  padding: 15px 30px;
  background: #642DFF;
  color: #fff;
}
.hero-container .outer_circle button svg {
  margin-right: 0.4rem;
}
.hero-container .inner_circle {
  position: absolute;
  top: 2rem;
  left: 2.3rem;
  width: 370px;
  height: 370px;
  background: white;
  border-radius: 50%;
}
.hero-container .inner_circle .inner-img {
  position: absolute;
  bottom: 4rem;
  left: -1rem;
  width: 100%;
  height: 100%;
}
.hero-container .banner-left {
  font-family: "Bree Serif", serif;
  position: relative;
}
.hero-container .banner-left .doctors-card {
  position: absolute;
  bottom: 4.3rem;
  right: 0rem;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 220px;
}
.hero-container .banner-left .doctors-card h5 {
  text-align: left;
  padding: 0.5rem 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.hero-container .banner-left .doctors-card .doc-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px -4px;
}
.hero-container .banner-left .doctors-card .doc-info img {
  width: 100%;
  border-radius: 50%;
}
.hero-container .banner-left .doctors-card .doc-info span {
  background: #2D89FF;
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  color: #fff;
  margin-left: 0.6rem;
}
.hero-container .banner-left .doctors-card .doc-card-line {
  margin: 0.5rem 0;
}
.hero-container .banner-left .doctors-card .doc-card-line .doc-card-line_one {
  width: 189px;
  height: 14px;
  background: linear-gradient(90deg, rgba(45, 137, 255, 0.57) 0%, rgba(45, 137, 255, 0) 100%);
  border-radius: 50px;
  margin: 0.5rem 0;
}
.hero-container .banner-left .doctors-card .doc-card-line .doc-card-line_two {
  width: 189px;
  height: 14px;
  background: linear-gradient(90deg, rgba(45, 137, 255, 0.3) 0%, rgba(45, 137, 255, 0) 100%);
  border-radius: 50px;
}
.hero-container .countup {
  font-family: "Bree Serif", serif;
  text-align: left;
}
.hero-container .countup h4 {
  text-align: left;
  font-size: 25px;
  line-height: 29px;
  font-weight: 600;
}
.hero-container .countup h6 {
  font-size: 22px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .hero-container h1 {
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
  }
  .hero-container .outer_circle {
    text-align: center;
    margin-top: 3rem;
    width: 280px;
    height: 280px;
  }
  .hero-container .outer_circle button {
    bottom: 9rem;
    left: -5rem;
    padding: 9px 21px;
  }
  .hero-container .inner_circle {
    top: 1.3rem;
    left: 1.4rem;
    width: 236px;
    height: 236px;
  }
  .hero-container .inner_circle .inner-img {
    bottom: 3rem;
    left: -1rem;
  }
  .hero-container .banner-left .doctors-card {
    width: 180px;
    bottom: 0.3rem;
    right: 0rem;
  }
  .hero-container .countup {
    font-family: "Bree Serif", serif;
    text-align: left;
  }
  .hero-container .countup h4 {
    text-align: left;
    font-size: 1.3rem;
    line-height: 18px;
    font-weight: 600;
  }
  .hero-container .countup h6 {
    font-size: 1.2rem;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .hero-container .outer_circle {
    text-align: center;
    margin: 4rem 0 auto;
    width: 380px;
    height: 380px;
  }
  .hero-container .outer_circle button {
    position: absolute;
    bottom: 9rem;
    left: -5rem;
    padding: 12px 24px;
  }
  .hero-container .inner_circle {
    top: 1.3rem;
    left: 1.4rem;
    width: 340px;
    height: 340px;
  }
  .hero-container .inner_circle .inner-img {
    bottom: 3rem;
    left: -1rem;
  }
}
@media screen and (min-width: 962px) and (max-width: 1024px) {
  .hero-container .outer_circle {
    width: 420px;
    height: 420px;
  }
  .hero-container .outer_circle button {
    position: absolute;
    bottom: 9rem;
    left: -4rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(45, 12, 87, 0.38);
    padding: 10px 20px;
    background: #2D89FF;
    color: #fff;
  }
  .hero-container .inner_circle {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 360px;
    height: 360px;
    background: white;
    border-radius: 50%;
  }
  .hero-container .inner_circle .inner-img {
    position: absolute;
    bottom: 3rem;
    left: -1rem;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=Banner.css.map */