body{
    text-decoration: none;
}
.our-process{
    h5{
        font-size: 1.2rem;
    }

    h2{
        font-size: 36px;
    }
    .process{
        .heart-pulse{
            
        }
        .main-circle{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100px;
            height: 100px;
            background: #005b88;
            border-radius: 5rem;
            box-shadow: 0 0 0 1em #005b88 inset, 0 1px 2px rgba(0, 0, 0, .1);
            // transform: translate(-50%, -50%);
            .circle-icons{
                font-size: 2.1rem;
                color: #fff;
            }
            z-index: 111;
            &:hover{
                .inner-circle{
                    width: 90px;
                    height: 90px;
                }
                .circle-icons{
                    transition-delay: .3s;
                    color: #005b88;
                }
            }
            .inner-circle{
                z-index: -111;
                width: 0;
                height: 0;
                background: rgb(228, 227, 226);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5rem;
                -webkit-transition: all .4s ease-in-out; 
                
        }
        }
    }
}