$mdSmall: 640px;
$mdMedium: 767px;
$smSmall: 320px;
$smMedium: 640px;
@use '../SCSS/_style';

.faq-section{
    font-family: 'Inter', sans-serif;
    font-family: 'Bree Serif', serif;
    position: relative;
    .faq-heading{
        h5{
            font-size: 1.1rem;
        }
        h2{
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    
    .faq-container{
        display: flex;
        justify-content: space-between;
        .collapse-plus .collapse-title:after{
            color: #2D89FF;
        }
        .faq-img{
            display: block;
            position: absolute;
            top: 0;
            right: 2rem;
            width: 300px;
            max-width: auto;
            height: 300px;
            max-height: auto;
            max-width: 400px;
            img{
                width: 100%;
            }
        }
    }
    
}

@media only screen and (min-width: $smSmall) and (max-width: $mdSmall){
    .faq-img img{
        opacity: .2;
    }
}
