.header-container{
    
    .top-bar{
        padding: 0 1rem;
        svg{
            color: red;
            font-size: 1.1rem;
        }
        label{
            display: block;
            text-align: center;
        }
        span{
            margin-left: .7rem;
            font-size: 1.1rem;
        }
        .menu-flags{
            button{
                border: none;
            }
        }
    }
    
    .brand-logo{
        width: 160px;
    }
}
